<div class="flex flex-col justify-center  ">
                <div class="bg-gray-100 self-center  rounded-xl p-4 shadow-lg">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-row">
                        <div class="w-96 p-2 ">
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="nom">Le nom</label>
                                <input  class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                formControlName="first_name"
                                id="nom"
                                name="nom"
                                placeholder="je m'appelle ...">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="prenom">Le prenome</label>
                                <input 
                                formControlName="last_name"

                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="prenom"
                                name="prenom"
                                placeholder="example">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="dob">La date de nissance</label>
                                <input
                                formControlName="dob"
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                type="date" id="start" name="trip-start"
                                value="2018-07-22"
                                min="2018-01-01" max="2018-12-31">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="address">L'address</label>
                                <input class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                formControlName="address"
                                id="address"
                                name="address"
                                placeholder="Ali Mengele BP 67 Constantine Algérie">
                            </div>

                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="email">Email</label>
                                <input 
                                formControlName="email"
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="email"
                                name="email"
                                type="email" 
                                placeholder="example@example.com">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="blocked_year">Année bloquée</label>
                                <input 
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="blocked_year"
                                formControlName="block_year"
                                name="blocked_year"
                                type="blocked_year" 
                                placeholder="2017-2018 sinon vide">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="path">Dossier</label>
                                <input 
                                name="path"
                                type="file" 
                                (change)="uploadFile($event)"
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "  />
                            </div>
                            <!-- formControlName="path" -->
                            <div></div>

                        </div>
                        <div class="w-96 p-2"> 
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="university">L'university</label>
                                <input class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                formControlName="university"
                                id="university "
                                name="university "
                                placeholder="Constantine 1">
                            </div>
                            
                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="specialite">La specialite</label>
                                <select name="specialite" id="specialite"
                                class=" w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                >
                                <option value="Nouvelles Technologies">Nouvelles Technologies</option>
                                <option value="Techniques Des Activités Physiques Et Sportives">Techniques Des Activités Physiques Et Sportives</option>
                                <option value="Sciences Humaines Et Des Sciences Sociales">Sciences Humaines Et Des Sciences Sociales</option>
                                <option value="Psychologie Et Des Sciences De L’éducation">Psychologie Et Des Sciences De L’éducation</option>
                                <option value="Sciences Économiques, Commerciales Et Des Sciences De Gestion">Sciences Économiques, Commerciales Et Des Sciences De Gestion</option>
                                <option value="Bibliothéconomie">Bibliothéconomie</option>
                              </select>
                            </div>
                            
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="level">Le niveau</label>

                                <select name="level" id="level"
                                formControlName="level"
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                >
                                <option value="L1 Admis">L1 Admis</option>
                                    <option value="L1 Ajourne">L1 Ajourne</option>
                                    <option value="L2 Ajourne">L2 Ajourne</option>
                                    <option value="L2 Admis">L2 Admis</option>
                                    <option value="L3 Ajourne">L3 Ajourne</option>
                                  </select>
                            </div>
                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="bac">L'annee du BAC</label>                                
                                <input
                                formControlName="bac_year"
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                type="number" min="1900" max="2099" step="1" value="2017">
                                <br>  
                            </div>

                            

                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="specialite">Le moyenne cumulée</label>
                            <input 
                            formControlName="avg_cumulative"
                                class="min-w-full text-md  border-white text-gray-600 rounded-full  pl-4 pr-2 py-2 focus:outline-none"
                                id="moyenne"    
                                name="moyenne"
                                placeholder="10.00"> <br>  
                            </div>
                            
                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="bac">Le moyenne du BAC</label>
                            <input 
                            formControlName="bac_avg"

                                class="min-w-full text-md  border-white text-gray-600 rounded-full  pl-4 pr-2 py-2 focus:outline-none"
                                id="bac"    
                                name="bac"
                                placeholder="10.00"> <br>  
                            </div>
                            
                            <button class="block bg-blue-700 text-white font-bold rounded-full p-1 my-4 w-full hover:bg-blue-600 transition duration-300" name="send" value="submit">Envoyer</button>
                        </div>
                    </form>
                </div>
        </div> 