<div>

        <div class="hidden sm:block fixed w-10/12 setcenter z-50 ">
            <nav class="flex justify-between min-w-full  bg-white  px-4">
                <div>
            <a href="" class=" flex  items-center text-sm hover:text-blue-700 transition duration-200 ease-in">

                <img src="../../assets/universite-abdelhamid-mehri-constantine-2-logo-3923299C66-seeklogo.com.png"  class="w-12 p-1 " alt="universite-abdelhamid-mehri-constantine-2-logo">
                <h5 class="text-md font-semibold pl-2">University Constantine 2</h5>
            </a>
        </div>
        <div @blueFade  class=" flex w-1/2 md:1/3 xl:w-1/4 justify-between items-center">

            <a onclick="move(e)" class="text-sm  hover:text-blue-700 font-medium transition duration-200 ease-in cursor-pointer">
                Home
            </a>
            <a onclick="move(e)" class="text-sm hover:text-blue-700 font-medium transition duration-200 ease-in cursor-pointer">
                Faculties
            </a>
            <a class="text-sm  hover:text-blue-700 font-medium transition duration-200 ease-in cursor-pointer">
                Transfer
            </a>
            <a href="/login" class="text-sm  hover:text-blue-700 font-medium transition duration-200 ease-in cursor-pointer">
                Login
            </a>
        </div>
    </nav>
</div>

<div class="">
    <div class=" w-10/12 setcenter main absolute  px-4 ">
        <div class="flex-col md:flex-row flex justify-between pb-40">
            <div class="md:w-1/2 h-96  flex flex-col justify-center">
                <h1 @fade class="text-5xl">l’Université Abdelhamid Mehri</h1>
                <h1 @fade class="text-5xl pb-2">la ville de <span class="text-blue-700">Constantine </span> Ali Mendjli.</h1>
                <p @fade class="text-gray-800">
                    la simplification du processus d'inscription et de transfert via la plateforme numérique
                </p>
            </div>
            <div class="w-96 h-96">
                <img src="../../assets/ntic.jpg" class="rounded-full " alt="">
            </div>
 
        </div>
         

        <div class=" flex flex-col items-center pt-32">
            <h1 class="text-3xl py-16  ">Faculties </h1>
            <div class="flex justify-between min-w-full">
            <div class="">
                    <div class="scale-95 hover:scale-100 duration-200">
                        <h1 class="text-xl font-extrabold">Nouvelles Technologies</h1>
                        <ul class=" flex flex-col">
                            <li>Département Des Technologies Des Logiciels Et Des Systèmes D’information.</li>
                            <li>Département De L’informatique Fondamentale Et Ses Applications.</li>
                            <li><img src="../../assets/ntic1.jpg" alt=""></li>
                        </ul>
                    </div> 
                    <div class="scale-95 hover:scale-100 duration-200">
                        <h1 class="text-xl font-extrabold">Sciences Humaines Et Des Sciences Sociales</h1>
                        <ul class=" flex flex-col">
                            <li>Département de Philosophie</li>
                            <li>Département de  Sociologie</li>
                            <li>Département d’Archéologies et d’Histoire</li>
                            <li><img src="../../assets/philo.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div class="scale-95 hover:scale-100 duration-200">
                        <h1 class="text-xl font-extrabold">Sciences Économiques, Commerciales Et  Des Sciences De Gestion</h1>
                        <ul class=" flex flex-col">
                            <li> Département des Sciences Économiques</li>
                            <li> Département des Sciences commerciales</li>
                            <li> Département des Sciences Gestion</li>
                            <li><img src="../../assets/commerce.jpg" alt=""></li>
                        </ul>



                    </div>
                </div>
                <div >
                    <div class="scale-95 hover:scale-100 duration-200">
                        <h1 class="text-xl font-extrabold">Techniques Des Activités Physiques Et Sportives</h1>
                        <ul class=" flex flex-col">
                            <li>Département de l’Education Physique et Sportive</li>
                            <li><img src="../../assets/sport.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div>

                    </div>

                    
                    <div class="scale-95 hover:scale-100 duration-200">
                        <h1 class="text-xl font-extrabold">Bibliothéconomie</h1>
                        <ul class=" flex flex-col">
                            <li>Département de bibliothéconomie</li>
                            <li>Bibliothèque et centre de documentation</li>
                            <li><img src="../../assets/biblio.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div class="scale-95 hover:scale-100 duration-200">
                        <h1 class="text-xl font-extrabold">Psychologie Et Des Sciences De L’éducation</h1>
                        <ul class=" flex flex-col">
                            <li>Département de Psychologie</li>
                            <li>Département des Sciences de l’éducation</li>
                            <li><img src="../../assets/psyco.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>   
        <div class=" flex flex-col  items-center">
            <h1 class="text-3xl py-16  ">Transfer</h1>
            <div class="">
                <div class="flex flex-col justify-center  ">
                <div class="bg-gray-100 self-center  rounded-xl p-4 shadow-lg">
                    <form class="flex flex-row">
                        <div class="w-96 p-2 ">
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="nom">Le nom</label>
                                <input class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="nom"
                                name="nom"
                                placeholder="je m'appelle ...">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="prenom">Le prenome</label>
                                <input 
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="prenom"
                                name="prenom"
                                placeholder="example">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="dob">La date de nissance</label>
                                <input
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                type="date" id="start" name="trip-start"
                                value="2018-07-22"
                                min="2018-01-01" max="2018-12-31">
                            </div>
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="address">L'address</label>
                                <input class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="address"
                                name="address"
                                placeholder="Ali Mengele BP 67 Constantine Algérie">
                            </div>

                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="email">Email</label>
                                <input 
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="email"
                                name="email"
                                type="email" 
                                placeholder="example@example.com">
                            </div>

                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="blocked_year">Année bloquée</label>
                                <input 
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="blocked_year"
                                name="blocked_year"
                                type="blocked_year" 
                                placeholder="2017-2018 sinon vide">
                            </div>
                        </div>
                        <div class="w-96 p-2"> 
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="university">L'university</label>
                                <input class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                id="university "
                                name="university "
                                placeholder="Constantine 1">
                            </div>
                            
                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="specialite">La specialite</label>
                            <input 
                                class="min-w-full text-md  border-white text-gray-600 rounded-full  pl-4 pr-2 py-2 focus:outline-none"
                                id="specialite"    
                                name="specialite"
                                placeholder="Informatique"> <br>  
                            </div>
                            
                            <div class="">
                                <label class="block  pl-4 pr-2 py-2 text-gray-800 font-bold" for="level">Le niveau</label>

                                <select name="level" id="level"
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                >
                                    <option value="volvo">L1</option>
                                    <option value="volvo">L1 L2</option>
                                    <option value="saab">L2 L3</option>
                                    <option value="mercedes">L3</option>
                                  </select>
                            </div>
                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="bac">L'annee du BAC</label>                                
                                <input
                                class="min-w-full text-md  border-white text-gray-600 rounded-full pl-4 pr-2 py-2 focus:outline-none "
                                type="number" min="1900" max="2099" step="1" value="2017">
                                <br>  
                            </div>

                            

                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="specialite">Le moyenne cumulée</label>
                            <input 
                                class="min-w-full text-md  border-white text-gray-600 rounded-full  pl-4 pr-2 py-2 focus:outline-none"
                                id="moyenne"    
                                name="moyenne"
                                placeholder="10.00"> <br>  
                            </div>
                            
                            <div class="">
                                <label class="block pl-4 pr-2 py-2 text-gray-800 font-bold" for="specialite">Le moyenne du BAC</label>
                            <input 
                                class="min-w-full text-md  border-white text-gray-600 rounded-full  pl-4 pr-2 py-2 focus:outline-none"
                                id="moyenne"    
                                name="moyenne"
                                placeholder="10.00"> <br>  
                            </div>
                            
                            <button class="block bg-blue-700 text-white font-bold rounded-full p-1 my-4 w-full hover:bg-blue-600 transition duration-300" value="submit">Envoyer</button>
                        </div>
                    </form>
                </div>
        </div> 

        <div class="mt-32">
        <div class="flex flex-col justify-center items-center pb-32">

                <h1 class="text-lg font-semibold  ">l’Université Abdelhamid- Mehri © 2022 - 2023</h1>
                <ul class="flex flex-row my-2">
                    <li class=" mr-4 text-xs font-semibold">Terms of Use</li>
                    <li class=" mr-4 text-xs font-semibold">Cookies Policy</li>
                    <li class=" text-xs font-semibold">Privacy Policy</li>
                </ul>


                <p class=" py-1 text-xs text-gray-800">
                    جامعة عبد الحميد مهري – قسنطينة 2 المدينة الجديدة علي منجلي ص.ب 67 قسنطينة الجزائر
                   موقع لجامعة عبد الحميد مهري – قسنطينة 2. الجامعة ليست مسؤولة عن أي معلومات منشورة في مواقع أخرى, حتى وإن كانت باسمها
                </p>
                <p class=" py-1 text-xs text-gray-800">
                    Ce portail est le site de l’université Abdelhamid MEHRI – Constantine 2. L’Université n’est pas responsable des informations qui peuvent être publiées, même en son nom, sur d’autres sites. <br>
                    This portal is the website of the Abdelhamid MEHRI - Constantine 2 university. The University is not responsible for information which may be published, even in its name, on other sites                </p>
     
        </div>
    </div>
</div>   
</div>
